body {
    background-color: white;
    margin: 0px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topbar {
    background-color: lightgray;
    width: 50%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}


.topbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.topbar-li {
    float: left;
}

.topbar-li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.topbar-li a:hover {
    text-decoration: underline;
}

.quote {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 50%;
}

.quote-head {
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgray;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quote-text {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding: 5px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

textarea {
    resize: none;
}

.textarea-edit {
    width: 100%;
    box-sizing: border-box;
}

#textarea-add {
    width: 100%;
    box-sizing: border-box;
}

#add-quote-form {
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;
}

#searchform {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.searchinput {
    width: 37.5%;
    height: 20px;
    border: 0px solid;
    border-radius: 4px;
    background-color: rgb(238, 238, 239);
    box-sizing: border-box;
}

.searchinput-b {
    width: 12.5%;
    height: 20px;
    background-color: rgba(0, 122, 255, 0.75);
    border: 0px solid;
    border-radius: 12px;
    color: white;
    box-sizing: border-box;
}

.searchinput-b:hover {
    cursor: pointer;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.sitenumber {
    margin: 5px;
    text-decoration: none;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cookie-banner {
    z-index: 1;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    padding: 1px 16px 16px 16px;
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 30%;
}

#cookie-accept {
    color: white;
    background-color: rgb(43, 103, 212);
    border: 4px solid rgb(43, 103, 212);
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

#cookie-accept:hover {
    background-color:  rgb(43, 80, 212);
    border: 4px solid rgb(43, 80, 212);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .quote {
        width: 80%;
    }
    .searchinput {
        width: 60%;
    }
    .searchinput-b {
        width: 20%;
    }
    .topbar {
        width: 80%;
    }
    #cookie-banner {
        width: 60%;
        left: 20%;
    }
    #add-quote-form {
        margin-left: 10%;
        margin-right: 10%;
    }
}

#content {
    filter: blur(0);
}